Private page
<% if (user) { %>
    <div>
        <a href="/">Index</a>
        <a href="/challenges/new">Create New Challenge</a>
        <h1>Hellooooo</h1>
    </div>
    <% } %>

<a href="/challenge/select-sport">
    <button >Create</button>
</a>

<a href="/challenges">
    <button >Search</button>
</a>