

<div id="login-div">
    <img id="logo-login" src="/images/aeonian-logo-w.png" alt="aeonian-logo">

<a class="btn" href="/challenges/select-sport">Create</a>

<a class="btn" href="/challenges/search">Search</a>

</div>