<!DOCTYPE html>
<html>

<head>
    <title>AEONIAN</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <% if (user) { %>
        <p>logged in as
            <%=user.username%>
        </p>
        <form action="/logout" method="post">
            <button>logout</button>
        </form>
        <br>
        <br>
        <% } %>
            <%- body %>

                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIoSi4O6j2YmTJQFpyKg7qWHzq3zFs7UA"></script>

</body>

</html>