<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main-title">
      <h1>AEONIAN</h1>
      <p>Leave your mark forever</p>
    </div>
    <div class="buttons">
      <a class="btn" href="http://localhost:3000/signup">Sign Up</a>
      
      <a class="btn" href="http://localhost:3000/login">Log In</a>
    </div>
  </body>
</html>
