<h1 class="tittleDetails"><%= challengerSchema.challengerName%></h1>
<div>
    <div class="mapDetails"><%= challengerSchema.location%></div>
    <p>
        <datetime class="timeDetails"><%= challengerSchema.timelimit%></datetime>
        <a href="/home">
            <button class="buttonowner">                             
                <img src="public/owner.png" alt="Owner ">
            </button>
        </a>        
    </p>
    <p class="textDetails"><%= challengerSchema.description%></p>
    <p><input id="LinkValidationDetails" type="video" name="Link" placeholder="Link"></p>
</div>

