<h1 class="tittleStart"><%= challenge.challengerName%></h1>
<div>
    <div class="mapStart"><%= challenge.location%></div>
    <p class="textStart"><%= challenge.description%></p>

    <form action="/challenges/<%= challenge._id %>/finished %>" method="post" id="form-link">
        <input id="LinkValidationStart" type="URL" name="Link" placeholder="Link Video">
        <button type="submit" class="buttonLinkStart">Finnish</button>      
    </form>
</div>

