<h1 class="tittle"><%= challenge.challengeName%></h1>
<div>
    <p class="text"><%= challenge.description.substring (0,100) + ' ...'%></p>

    <a id="form" href="/challenges/search">
        <button class="btn">Back</button>
    </a>
    
    <form id="form" action="/challenges/<%= challenge._id %>" method="post">
        <a>
            <button class="btn" type="submit">Enrol</button>
        </a>
    </form>
</div>