<h1 class="tittleDetails"><%= challenge.challengeName%></h1>
<div>
    <div class="mapDetails"><%= challenge.location%></div>

    <p class="textDetails"><%= challenge.description.substring (0,100) + ' ...'%></p>

    <a href="/challenges/search">
            <button class="buttonBackSummary">Back</button>
    </a>
    
    <form action="/challenges/<%= challenge._id %>" method="post">
        <button type="submit">Enrol</button>
    </form>
</div>